# Configuration file

"entity blacklist" {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:AgriCraft.villagerFarmer=false
    B:Basalz=false
    B:Bat=false
    B:Blaze=false
    B:Blitz=false
    B:Blizz=false
    B:"Botania.botania:pixie"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:Enderman=false
    B:EntityHorse=false
    B:Ghast=false
    B:Giant=false
    B:GrimoireOfGaia.Anubis=false
    B:GrimoireOfGaia.Banshee=false
    B:GrimoireOfGaia.Baphomet=false
    B:"GrimoireOfGaia.Bone Knight"=false
    B:GrimoireOfGaia.Butler=false
    B:GrimoireOfGaia.Centaur=false
    B:"GrimoireOfGaia.Cobble Golem"=false
    B:"GrimoireOfGaia.Cobblestone Golem"=false
    B:GrimoireOfGaia.Cockatrice=false
    B:GrimoireOfGaia.Creep=false
    B:"GrimoireOfGaia.Creeper Girl"=false
    B:"GrimoireOfGaia.Cyan Flower"=false
    B:GrimoireOfGaia.Cyclops=false
    B:GrimoireOfGaia.Dhampir=false
    B:GrimoireOfGaia.Dryad=false
    B:GrimoireOfGaia.Dullahan=false
    B:"GrimoireOfGaia.Ender Dragon Girl"=false
    B:"GrimoireOfGaia.Ender Eye"=false
    B:"GrimoireOfGaia.Ender Girl"=false
    B:"GrimoireOfGaia.Flesh Lich"=false
    B:GrimoireOfGaia.FutakuchiOnna=false
    B:GrimoireOfGaia.Gryphon=false
    B:GrimoireOfGaia.Harpy=false
    B:GrimoireOfGaia.Holstaurus=false
    B:GrimoireOfGaia.Hunter=false
    B:GrimoireOfGaia.Jorogumo=false
    B:GrimoireOfGaia.Mandragora=false
    B:GrimoireOfGaia.Mermaid=false
    B:GrimoireOfGaia.Mimic=false
    B:GrimoireOfGaia.Minotaur=false
    B:GrimoireOfGaia.Minotaurus=false
    B:GrimoireOfGaia.Naga=false
    B:GrimoireOfGaia.NineTails=false
    B:GrimoireOfGaia.Sahuagin=false
    B:GrimoireOfGaia.Satyr=false
    B:GrimoireOfGaia.Selkie=false
    B:GrimoireOfGaia.Shaman=false
    B:GrimoireOfGaia.Sharko=false
    B:GrimoireOfGaia.Siren=false
    B:"GrimoireOfGaia.Slime Girl"=false
    B:"GrimoireOfGaia.Sludge Girl"=false
    B:GrimoireOfGaia.Sphinx=false
    B:GrimoireOfGaia.Spriggan=false
    B:GrimoireOfGaia.Succubus=false
    B:GrimoireOfGaia.Swamper=false
    B:GrimoireOfGaia.Trader=false
    B:GrimoireOfGaia.Valkyrie=false
    B:GrimoireOfGaia.Vampire=false
    B:GrimoireOfGaia.Werecat=false
    B:GrimoireOfGaia.Witch=false
    B:"GrimoireOfGaia.Wither Cow"=false
    B:GrimoireOfGaia.Yeti=false
    B:GrimoireOfGaia.Yuki-Onna=false
    B:LavaSlime=false
    B:Mob=false
    B:Monster=false
    B:MushroomCow=false
    B:Natura.FlameSpider=false
    B:Natura.FlameSpiderBaby=false
    B:Natura.Imp=false
    B:Natura.NitroCreeper=false
    B:OpenBlocks.Luggage=false
    B:OpenBlocks.MiniMe=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:RandomThings.spirit=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:SpecialMobs.ArmorCreeper=false
    B:SpecialMobs.BabyCaveSpider=false
    B:SpecialMobs.BabyGhast=false
    B:SpecialMobs.BabySpider=false
    B:SpecialMobs.BlindingEnderman=false
    B:SpecialMobs.BlindingSilverfish=false
    B:SpecialMobs.BrutishPigZombie=false
    B:SpecialMobs.BrutishSkeleton=false
    B:SpecialMobs.BrutishZombie=false
    B:SpecialMobs.CursedEnderman=false
    B:SpecialMobs.DarkCreeper=false
    B:SpecialMobs.DeathCreeper=false
    B:SpecialMobs.DesertSpider=false
    B:SpecialMobs.DirtCreeper=false
    B:SpecialMobs.DoomCreeper=false
    B:SpecialMobs.DrowningCreeper=false
    B:SpecialMobs.EnderCreeper=false
    B:SpecialMobs.FaintGhast=false
    B:SpecialMobs.FighterGhast=false
    B:SpecialMobs.FireCreeper=false
    B:SpecialMobs.FireSkeleton=false
    B:SpecialMobs.FireZombie=false
    B:SpecialMobs.FishingPigZombie=false
    B:SpecialMobs.FishingSilverfish=false
    B:SpecialMobs.FishingZombie=false
    B:SpecialMobs.FlyingCaveSpider=false
    B:SpecialMobs.FlyingSilverfish=false
    B:SpecialMobs.FlyingSpider=false
    B:SpecialMobs.GatlingSkeleton=false
    B:SpecialMobs.GhostSpider=false
    B:SpecialMobs.GiantPigZombie=false
    B:SpecialMobs.GiantSkeleton=false
    B:SpecialMobs.GiantSpider=false
    B:SpecialMobs.GiantZombie=false
    B:SpecialMobs.GravityCreeper=false
    B:SpecialMobs.HungryPigZombie=false
    B:SpecialMobs.HungrySpider=false
    B:SpecialMobs.HungryZombie=false
    B:SpecialMobs.IcyEnderman=false
    B:SpecialMobs.JumpingCreeper=false
    B:SpecialMobs.KingGhast=false
    B:SpecialMobs.LightningCreeper=false
    B:SpecialMobs.LightningEnderman=false
    B:SpecialMobs.MiniCreeper=false
    B:SpecialMobs.MiniEnderman=false
    B:SpecialMobs.MiniGhast=false
    B:SpecialMobs.MirageEnderman=false
    B:SpecialMobs.MotherCaveSpider=false
    B:SpecialMobs.MotherSpider=false
    B:SpecialMobs.PaleSpider=false
    B:SpecialMobs.PlaguePigZombie=false
    B:SpecialMobs.PlagueZombie=false
    B:SpecialMobs.PoisonSilverfish=false
    B:SpecialMobs.PoisonSkeleton=false
    B:SpecialMobs.PoisonSpider=false
    B:SpecialMobs.QueenGhast=false
    B:SpecialMobs.SmallSpider=false
    B:SpecialMobs.SniperSkeleton=false
    B:SpecialMobs.SpecialCaveSpider=false
    B:SpecialMobs.SpecialCreeper=false
    B:SpecialMobs.SpecialEnderman=false
    B:SpecialMobs.SpecialGhast=false
    B:SpecialMobs.SpecialPigZombie=false
    B:SpecialMobs.SpecialSilverfish=false
    B:SpecialMobs.SpecialSkeleton=false
    B:SpecialMobs.SpecialSpider=false
    B:SpecialMobs.SpecialZombie=false
    B:SpecialMobs.SpitfireSkeleton=false
    B:SpecialMobs.SplittingCreeper=false
    B:SpecialMobs.ThiefEnderman=false
    B:SpecialMobs.ThiefSkeleton=false
    B:SpecialMobs.ToughCaveSpider=false
    B:SpecialMobs.ToughSilverfish=false
    B:SpecialMobs.ToughSpider=false
    B:SpecialMobs.UnholyGhast=false
    B:SpecialMobs.VampirePigZombie=false
    B:SpecialMobs.WebCaveSpider=false
    B:SpecialMobs.WebSpider=false
    B:SpecialMobs.WitchCaveSpider=false
    B:SpecialMobs.WitchSpider=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:"Wither Skeleton"=false
    B:Wolf=false
    B:Zombie=false
    B:adventurebackpack.rideableSpider=false
    B:chisel.snowman=false
    B:headcrumbs.Human=false
    B:menagerie.ant=false
    B:menagerie.ghost=false
    B:menagerie.infestedVillager=false
    B:menagerie.lepus=false
    B:menagerie.livingarmor=false
    B:menagerie.manticore=false
    B:menagerie.mummy=false
    B:menagerie.oliphant=false
    B:menagerie.rat=false
    B:testdummy.Dummy=false
}


